body{
  margin:0;
}

.nav a:hover, .nav a:focus, a:visited{
  background-color: #0074D9;
}

.section-dark {
  background-color: #ccc;
}

.section-mid {
  background-color: #eeeeee;
}

.section {
  background-color:#efefef;

}

.intro{
  background-image: url('http://placehold.it/350x150');
  background-size: cover;
}

.soc{
  width:35px;
  height:35px;
  display: inline-block;
  margin: 0;
  padding:0;
}

.white{
  color: white;
}

@media only screen and (min-width: 25em) {

}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 60em) {

}
